* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Code', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.center {
  max-width: 900px;
  padding: 1rem 3rem;
}

.title {
  text-align: center;
  font-size: larger;
  background-color: beige;
}

.container {  
  display: flex;
  justify-content: space-between;
  flex-direction: column;  
}

.content {
  padding: 20px;
}

.gas {
  background-color: blueviolet;
  color: white;
}

.content span {
  font-weight: 500;
}

.chart {
  padding-top: 10px;
  border: 1px black;
}